
#first{
   background-image: url(pexels-uhgo-3540807.jpg);
   background-size: cover;
   width: 100%; 
   height: 800px;
   justify-content: center;
   background-position: center;
   align-items: center;
   text-align: center;
   background-repeat: no-repeat;
}

#header{
    width: 40%;
    justify-items: center;
    margin-left: 480px;
    
}


#divForm{
    width: 30%;
    border: 2px solid;
    margin-left: 560px;
}
form{
    padding: 6px;
    /* background-color: rgb(164, 194, 223); */
}

label{
    font-size: 18px;
    padding: 5px;

}
#name{
margin-left: 80px;
background-color: azure;
}
#age{
    margin-left: 132px;
    background-color: azure;

} 
#courses{
    align-items: center;
    margin-left: 106px;
    background-color: azure;
    
    color: rgb(66, 66, 122);
}
#add,#del1{
    width: 230px;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 2px;
    color: aliceblue;
    background-color: rgb(33, 28, 108);
    border:  1pxsolid black;
    border-radius: 7px;
}
#exit{
    width: 100px;
    color: aliceblue;
    background-color: rgb(33, 28, 108);
    border:  1pxsolid black;
    border-radius: 7px;
}
#h1{
    width: 40%;
    justify-items: center;
    margin-left: 500px;
}
h1{
    
    margin: 5px;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    border: 2px solid rgb(187, 187, 236);
    border-radius: 30px;
    background-color: rgb(27, 27, 119);
    color: rgb(238, 242, 245);
}
#table{
    padding: 5px;
    width: 65%;
    border: 3px solid;
    margin-left: 300px;
    /* background-color: rgb(142, 171, 196); */
}
tr{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#deleteAll{
    width: 350px;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(33, 28, 108);
    color: white;
    
}